# Python cache files
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
wheels/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE / OS files
.vscode/
.idea/
.DS_Store
healthAnalysis/